body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Cantarell",
    "Droid Sans",
    "Fira Sans",
    "Helvetica Neue",
    "Oxygen",
    "Roboto",
    sans-serif,
    "Segoe UI",
    "Ubuntu";
  -webkit-font-smoothing: antialiased;
  margin:  0;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family:
    Consolas,
    "Courier New",
    Menlo,
    Monaco,
    monospace,
    source-code-pro;
}
